<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-dark text-white">
                {{#if editMode}}edicion Categoria {{else}} Crear Categoria{{/if}}
            </div>
            <div class="card-body">

                <form method="post" action="{{#if editMode}}/edit-Categoria{{else}}/Create-Categoria{{/if}}">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre </label>
                        <input type="text" name="Nombre" class="form-control" id="name" aria-describedby="Name"
                            value="{{#if editMode}}{{Categoria.Nombre}}{{/if}}" required>

                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Descriccion</label>
                        <textarea name="descriccion" class="form-control" id="descriccion" cols="60"
                            rows="3" required>{{#if editMode}}{{Categoria.Descripcion}}{{/if}}</textarea>
                    </div>



                    {{#if editMode}}

                    <input type="hidden" name="CategoriaID" value="{{Categoria.Id}}">

                    {{/if}}

                    <button type="submit" id="Crear-editar" class="btn btn-primary">{{#if editMode}}editar {{else}} Crear {{/if}}</button>
                    <a href="/Categoria-list" id="Atras-btn" type="submit" class="btn btn-danger">Atras</a>
                </form>

            </div>
        </div>

    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="card border-0">
            <div class="card-body text-center">
                <!-- Mostrar la imagen del Pokémon si está en modo de edición -->

                <img src="https://png.pngtree.com/png-clipart/20200710/original/pngtree-books-logo-png-image_4136009.jpg" alt="Imagen Pokémon"
                    class="img-fluid rounded-4 shadow-lg">

            </div>
        </div>
    </div>

</div>